@font-face { font-family: Oldparavisk; src: url('../oldparavisk.TTF'); } 

body {
    padding: 3%
}

.oldparavisk {
    font-family: Oldparavisk, Arial, Helvetica, sans-serif;
    font-size: x-large;
    letter-spacing: 0.15em;
}

#svar {
    width: 33%
}


.flashCard {
    
    border: 3px solid grey;
    border-radius: 2vh;
    padding: 2vh;
    height: 75vh;
    width: 75vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/*
.centerContainer {
    display: flex;
  justify-content: center;
  align-items: center;
  
}*/